html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.App{
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-image: url('header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 200px;
  padding-top: 20px;
  color: white;
}

h2{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(50, 120, 180);
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.activities h2{
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.activity{
  background-color: rgb(120, 160, 240);
}

.activity-name{
  background-color: rgb(51, 122, 255);
  color: white;
  font-size: 25px;
  padding: 15px;

}

.activity-price{
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
}

.btn-rdv{
  margin-top: 40px;
  margin-bottom: 80px;
}

.cart{
  background-color: lightsalmon;
  color: white;
  width: 80%;
  margin: 10%;
  border-radius: 15px;
  padding: 25px;
  height: 400px;
}

.check-label{
  font-weight: lighter;
}

.formulaire{
  border: solid lightblue 2px;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px;
  background-color: rgb(120, 160, 240);
}

h3{
  margin-bottom: 25px;
  text-decoration: underline;
  font-weight: bold;
}

h4{
  background-color: #F33;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.remerciement{
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px black;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .map-image{
    width: 150px;
    height: 100px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 400px;
    width: 600px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
  .map-image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 400px;
    width: 600px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .map-image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 400px;
    width: 600px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .map-image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 400px;
    width: 600px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .map-image{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 400px;
    width: 600px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
