.App {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-image: url('header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 75px;
  height: 150px;
  color: white;
}

.title {
  font-size: 2.5em;
}

.address{
  font-size: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
