html {
  height: 100%;
}
.container-fluid{
  padding-right: 0;
  padding-left: 0; 
  margin-right: 0;
  margin-left: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App{
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-image: url('header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 200px;
  padding-top: 20px;
  color: white;
}

h2{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.activities h2{
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.activity{
  border: solid black 1px;
  border-radius: 25px;
  padding: 25px;
  margin-top: 25px;
}

.btn-rdv{
  margin-top: 40px;
  margin-bottom: 80px;
}

.cart{
  border: 1px solid rgb(219, 62, 62);
  margin-top: 15px;
  border-radius: 15px;
  padding: 5px;
  height: 400px;
}

.check-label{
  font-weight: normal;
}

.formulaire{
  border: solid black 1px;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px;
}

h3{
  margin-bottom: 25px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(219, 62, 62);
  border-radius: 15px;
}

h4{
  background-color: rgb(219, 62, 62);
  color: white;
  border-radius: 5px; 
  padding: 5px;
  margin: 15px;
}

.remerciement{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;  
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .map-image{
    width: 150px;
    height: 100px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px gray;
  }
  .activity-name{
    font-size: 15px;
  }
  .activity-price{
    font-size: 15px;
    font-weight: bold;
  }  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
  .map-image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px gray;
  }
  .activity-name{
    font-size: 20px;
  }
  .activity-price{
    font-size: 20px;
    font-weight: bold;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .map-image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px gray;
  }
  .activity-name{
    font-size: 25px;
  }
  .activity-price{
    font-size: 25px;
    font-weight: bold;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .map-image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px gray;
  }
  .activity-name{
    font-size: 25px;
  }
  .activity-price{
    font-size: 25px;
    font-weight: bold;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .map-image{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 25px;
  }
  .activity-image{
    height: 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px gray;
  }
  .activity-name{
    font-size: 25px;
  }
  .activity-price{
    font-size: 25px;
    font-weight: bold;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
